<script src="/js/game.js" type="text/javascript"></script>
<div align="center" id="game" class="center">
	  <h1> Selecciona tus barcos: </h1>
	  <div class="grid" id="grid_container">

	  </div>
</div>
