<div align="center" class="center">	
	<form id="registerForm" action="/register" method="post">
		<div>
			<label class="form-label">Full name:</label>
			<input class="form-input" name="name" type="text"/>
		</div>
		<div>
			<label class="form-label">Username:</label>
			<input class="form-input" name="username" type="text"/>
		</div>
		<div>
			<label class="form-label">Password:</label>
			<input class="form-input" name="password" type="password"/>
		</div>
		<input type="submit" class="button" value ="Register"/>
	</form>
</div>
