<div>	
	<form id="registerForm" action="/players" method="post">
		<label>Username:</label>
		<input name="username" type="text"/>
		<label>Password:</label>
		<input name="password" type="password"/>
		<input type="submit" text="Register!"/>
	</form>
</div>
