<div align="center" class="center">
  <h1> Welcome to Naval Battle 2015!</h1>
  <form action="/login"><input class="button" type="submit" value="Login"/></form>
  <form action="/register"><input class="button" type="submit" value="Register"/></form>
</div>
